<div class="container mt-3 mb-2 ">
    
    <div class=" row">
         <div class="facilities-col">
            <img  src="../../../assets/img/jwer.JPG" alt="jwer"> 
            <h3>jewelry</h3>
            <p>1200 $</p>
         </div>

         <div class="facilities-col">
            <img  src="../../../assets/img/shb.jpg" alt="shb"> 
            <h3>blue shoes</h3>
            <p>210 $</p>
         </div>
         
         <div class="facilities-col">
            <img  src="../../../assets/img/shh.jpg" alt="shh"> 
            <h3>hazelnut shoes </h3>
            <p>240 $</p>
         </div>

         <div class="facilities-col">
            <img  src="../../../assets/img/shp.jpg" alt="shp"> 
            <h3>pink shoes </h3>
            <p>185 $</p>
         </div>

         <div class="facilities-col">
            <img  src="../../../assets/img/tb.jpg" alt="tb"> 
            <h3>blue t-shirt</h3>
            <p>180 $</p>
         </div>

         <div class="facilities-col">
            <img  src="../../../assets/img/tw.jpg" alt="tw"> 
            <h3>white t-shirt</h3>
            <p>310 $</p>
         </div>
    </div>
</div>

