<div class="container mt-5 mb-5">
    <h1 class="text-center" >  ABOUT RIMA <br/><br/></h1>
    <p>
        
        Studio rima is a womenswear brand curated for the free spirited, igniting balance for the earth and for the people.

        Studio rima was Launched in 2018 by rima Mac and has been built from the grassroots up; a journey that started with falling in love with textiles in the vibrant and chaotic landscapes of India to a globally recognised brand. Tia’s mixed British, Indian and Austrian heritage has helped her to create and diversify the brand. Many elements of her cultural background and experience of living in India are seen in the ethos, where positive social and environmental impact is at the forefront. Her vision to engage with the fabrics and artisans that curate the collections are to serve more than just an aesthetic purpose but to tell a story that connects East and West to live timelessly in one’s wardrobe.
        <br/>
        <br/>
        We are dedicated in creating minimalist, yet statement pieces to treasure over the years. We uphold positive methods of production and support a fully-fledged female team, empowering people locally through education and training. We are constantly analysing our impact and learning with the ever-evolving ways to protect our planet and its people. We continue to study and explore alternatives as we grow as a brand and strive to lessen our footprint. All of our fabrics are sourced and produced in India and we produce all of our designs in different parts of India.
    </p>
</div>